.feedback {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 50px 0 100px;
  line-height: 1.5em;
  
  &__photo-wrap {
    float: left;
    height: 100%;
    width: 30%;
  }
  
  &__photo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: $photo;
  }
  
  &__text-wrap {
    float: right;
    width: 60%;
    padding-right: 50px;
  }
  
  &__message {
    font-family: 'Titillium Web Italic';
    font-size: 21px;
    line-height: 1.5em;
  }
  
  &__author {
    font-family: 'Titillium Web Bold';
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 1.5em;
  }
  
  &__position {
    font-family: 'Titillium Web';
    color: $portfolioBackground;
    font-size: 18px;
  }
}

@media all and (max-width: 1120px) {
  .feedback {
    &__photo-wrap {
      width: 24%;
    }
  
    &__text-wrap {
      width: 55%;
    }
  }
}

@media all and (max-width: 840px) {
  .feedback {
    &__photo-wrap {
      width: 100%;
      text-align: center;
    }
    
    &__text-wrap {
      width: 100%;
      text-align: center;
      padding-right: 0;
    }
    
    &__photo {
      display: inline-block;
    }
  }
}

@media all and (max-width: 660px) {
  .feedback {
    width: 100%;
  }
}
