.form {
  display: inline-block;
  max-width: 860px;
  width: 100%;
  font-family: 'Titillium Web';
  color: $white;
  padding-top: 25px;
  

  &__input-wrap {
    float: left;
    width: 48%;
    padding-bottom: 26px;
    
    &:nth-child(2) {
      float: right;
    }
    
  }
  
  &__input {
    font-family: 'Titillium Web';
    color: $white;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0,0,0, .2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 16px 26px;
    
    &::placeholder {
      color: $white;
    }
  }
  
  &__message-wrap {
  }
  
  &__message {
    @extend .form__input;
    min-height: 200px;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 640px) {
  .form {
    &__input-wrap {
      width: 100%;
    }
  }
}
