.main-heading {
  font-family: "Titillium Web Bold";
  color: $white;
  text-align: center;
  font-size: 42px;
  
  &--second-section {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0,0,0, .1);
    }
  }
  
  &--team {
    color: $dark;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 50px;
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0,0,0, .1);
    }
  }
  
  &--skills {
    @extend .main-heading--team;
  }
  
  &--portfolio {
    @extend .main-heading--team;
    color: $black;
  }
  
  &--testimonials {
    @extend  .main-heading--second-section;
  }
}
