.nav {
  float: right;
  font-family: 'Titillium Web';
  font-size: 16px;
  padding: 0;
  
  &__container {
    margin: 0;
  }
  
  &__button {
    padding: 8px 17px;
    list-style: none;
    float: right;
    border-radius: 5px;
    transition: .2s;
    
    &:hover {
      cursor: pointer;
      background-color: darken($purple, 20%);
      transition: .2s;
    }
    
    &:active {
      background-color: lighten($purple, 10%);
    }
  }
  
  &__link {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
  }
  
  &__trigger-wrap {
    display: none;
  }
  
  &__trigger {
    display: none;
  }
  
  &__trigger-icon {
    color: transparent;
    font-size: 26px;
    padding: 8px 16px;
  }
}

@media all and (max-width: 768px) {
  .nav {
    display: none;
    
    &__button {
      float: none;
      user-select: none;
      border-radius: 0;
      background-color: darken($purple, 10%);
      width: 200px;
      text-align: center;
      padding: 10px 0;
    }
  
    &__trigger-label {
      display: block;
      background-color: darken($purple, 10%);
      float: right;
      border-radius: 5px;
  
      &:hover {
        cursor: pointer;
        background-color: lighten($purple, 20%);
      }
    }
    
    &__trigger-icon {
      color: $white;
    }
  }
  
  .nav__trigger:checked + .nav {
    display: block;
    position: absolute;
    right: 100px;
    z-index: 2;
  }
}
