.team {
  background-color: $team-background;
  padding: 120px 0;
  @extend .clear;
  
  &__container {
    @extend .container;
  }
  
  &__text {
    color: $dark;
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center;
  }
  
  &__card-wrap {
    padding: 80px 0;
  }
}
