@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Bold';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Light';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Italic';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

