$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$white: #f7f3ea;
$purple: #87509c;
$main-button: #eb7d4b;
$services-background: #17c2a4;
$team-background: #e7f1f8;

$dark: #3c4761;
$photo: #878787;
$link: #48c1e9;
$linkBackground: #bdd1df;

$circleFirst: #30bae7;
$circleSecond: #d74680;
$circleThird: #15c7a8;
$circleFourth: #eb7d4b;
