html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:before, .header__row:before, .services:before, .team:before, .links:before, .links__content:before, .skills:before, .clear:after, .header__row:after, .services:after, .team:after, .links:after, .links__content:after, .skills:after {
  content: ' ';
  display: table; }

.clear, .header__row, .services, .team, .links, .links__content, .skills {
  *zoom: 1; }
  .clear:after, .header__row:after, .services:after, .team:after, .links:after, .links__content:after, .skills:after {
    clear: both; }

/** {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}*/
.header {
  background-color: #87509c;
  height: 595px; }
  .header__row {
    padding-top: 58px; }
  .header__content {
    padding: 145px 0; }
  .header__button-wrap {
    padding-top: 60px;
    text-align: center; }

.logo {
  width: 120px;
  height: 36px;
  padding-left: 40px;
  float: left; }

.nav {
  float: right;
  font-family: 'Titillium Web';
  font-size: 16px;
  padding: 0; }
  .nav__container {
    margin: 0; }
  .nav__button {
    padding: 8px 17px;
    list-style: none;
    float: right;
    transition: .2s; }
    .nav__button:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      transition: .2s; }
  .nav__link {
    text-decoration: none;
    color: #f7f3ea;
    text-transform: uppercase; }

.container, .header__container, .services__container, .team__container, .skills__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.main-heading {
  font-family: "Titillium Web Bold";
  color: #f7f3ea;
  text-align: center;
  font-size: 42px; }
  .main-heading--second-section {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
    position: relative; }
    .main-heading--second-section::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0, 0, 0, 0.1); }
  .main-heading--team, .main-heading--skills {
    color: #3c4761;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 50px;
    position: relative; }
    .main-heading--team::after, .main-heading--skills::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0, 0, 0, 0.1); }

.services {
  padding: 120px 0;
  background-color: #17c2a4;
  font-family: 'Titillium Web';
  color: #f7f3ea; }
  .services__text {
    font-size: 18px;
    text-align: center;
    line-height: 1.6em; }

.card {
  width: 25%;
  box-sizing: border-box;
  float: left; }
  .card__image-wrap {
    text-align: center;
    padding: 50px 0; }
  .card__image {
    overflow: hidden;
    background-image: url("../img/sprite.png");
    height: 134px;
    display: inline-block; }
    .card__image--flag {
      background-position: 0 0;
      width: 132px; }
    .card__image--crayon {
      background-position: -150px 0;
      width: 94px; }
    .card__image--gears {
      background-position: 322px 0;
      width: 174px; }
    .card__image--rocket {
      background-position: 95px 0;
      width: 95px; }
  .card__heading {
    font-family: "Titillium Web Bold";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px; }
  .card__text {
    text-align: center;
    font-family: "Titillium Web Light";
    font-size: 16px;
    padding: 0 44px 40px;
    line-height: 1.5em; }

.team {
  background-color: #e7f1f8;
  padding: 120px 0; }
  .team__text {
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center; }
  .team__card-wrap {
    padding: 80px 0; }

.user-card {
  width: 25%;
  float: left;
  box-sizing: border-box;
  color: #3c4761;
  text-align: center; }
  .user-card__photo-wrap {
    text-align: center;
    padding-bottom: 40px; }
  .user-card__photo {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #878787; }
  .user-card__name {
    font-family: 'Titillium Web Bold';
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 13px; }
  .user-card__position {
    font-family: 'Titillium Web';
    color: #48c1e9;
    font-size: 16px;
    padding-bottom: 30px; }
  .user-card__description {
    font-family: 'Titillium Web Light';
    font-size: 16px;
    padding: 0 40px;
    line-height: 1.5em; }

.links {
  color: #f7f3ea;
  text-align: center;
  width: 100%;
  font-size: 18px; }
  .links__content {
    display: inline-block;
    padding-top: 33px; }
  .links__link-wrap {
    float: left;
    background-color: #bdd1df;
    margin: 0 5px;
    padding: 8px 0;
    width: 34px;
    border-radius: 17px;
    text-align: center; }
    .links__link-wrap:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
      color: #48c1e9; }

.skills {
  padding: 120px 0;
  color: #3c4761; }
  .skills__text {
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center;
    line-height: 1.5em; }

.loader {
  position: relative; }

.button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #f7f3ea;
  font-family: "Titillium Web";
  font-size: 18px;
  padding: 24px 80px;
  margin: 0 auto;
  outline: none; }
  .button:hover {
    cursor: pointer; }
  .button--main {
    background: linear-gradient(to top, #d25217 0%, #d25217 8%, #eb7d4b 8%, #eb7d4b 100%); }
    .button--main:hover {
      background: linear-gradient(to top, #d25217 0%, #d25217 4%, #eb7d4b 4%, #eb7d4b 100%); }
    .button--main:active {
      background: #eb7d4b;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web Bold';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web Light';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Light.ttf");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
