html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:before, .header__row:before, .footer__list:before, .services:before, .team:before, .links:before, .links__content:before, .skills:before, .skills__cards-wrap:before, .portfolio:before, .portfolio__products-wrap:before, .testimonials:before, .get-in-touch:before, .clear:after, .header__row:after, .footer__list:after, .services:after, .team:after, .links:after, .links__content:after, .skills:after, .skills__cards-wrap:after, .portfolio:after, .portfolio__products-wrap:after, .testimonials:after, .get-in-touch:after {
  content: ' ';
  display: table; }

.clear, .header__row, .footer__list, .services, .team, .links, .links__content, .skills, .skills__cards-wrap, .portfolio, .portfolio__products-wrap, .testimonials, .get-in-touch {
  *zoom: 1; }
  .clear:after, .header__row:after, .footer__list:after, .services:after, .team:after, .links:after, .links__content:after, .skills:after, .skills__cards-wrap:after, .portfolio:after, .portfolio__products-wrap:after, .testimonials:after, .get-in-touch:after {
    clear: both; }

/** {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}*/
.header {
  background-color: #87509c;
  min-height: 595px; }
  .header__row {
    padding-top: 58px; }
  .header__content {
    padding: 145px 0; }
  .header__button-wrap {
    padding-top: 60px;
    text-align: center; }

.logo {
  width: 120px;
  height: 36px;
  padding-left: 40px;
  float: left; }

.nav {
  float: right;
  font-family: 'Titillium Web';
  font-size: 16px;
  padding: 0; }
  .nav__container {
    margin: 0; }
  .nav__button {
    padding: 8px 17px;
    list-style: none;
    float: right;
    border-radius: 5px;
    transition: .2s; }
    .nav__button:hover {
      cursor: pointer;
      background-color: #4d2d59;
      transition: .2s; }
    .nav__button:active {
      background-color: #a06cb3; }
  .nav__link {
    text-decoration: none;
    color: #f7f3ea;
    text-transform: uppercase; }
  .nav__trigger-wrap {
    display: none; }
  .nav__trigger {
    display: none; }
  .nav__trigger-icon {
    color: transparent;
    font-size: 26px;
    padding: 8px 16px; }

@media all and (max-width: 768px) {
  .nav {
    display: none; }
    .nav__button {
      float: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      border-radius: 0;
      background-color: #6a3f7a;
      width: 200px;
      text-align: center;
      padding: 10px 0; }
    .nav__trigger-label {
      display: block;
      background-color: #6a3f7a;
      float: right;
      border-radius: 5px; }
      .nav__trigger-label:hover {
        cursor: pointer;
        background-color: #b58dc5; }
    .nav__trigger-icon {
      color: #f7f3ea; }
  .nav__trigger:checked + .nav {
    display: block;
    position: absolute;
    right: 100px;
    z-index: 2; } }

.container, .header__container, .footer__container, .services__container, .team__container, .skills__container, .portfolio__container, .testimonials__container, .get-in-touch__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.footer {
  border-top: 1px solid #ccc;
  background-color: #344b8e;
  padding: 30px; }
  .footer__container {
    text-align: center; }
  .footer__list {
    display: inline-block; }
  .footer__link-wrap {
    float: left;
    padding: 15px 25px;
    margin-right: 10px; }
    .footer__link-wrap:hover {
      cursor: pointer; }
      .footer__link-wrap:hover > .footer__link {
        color: #48c1e9; }
    .footer__link-wrap:active {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset; }
  .footer__link {
    font-family: 'Titillium Web SemiBold';
    font-size: 24px;
    text-decoration: none;
    color: #f7f3ea; }

.main-heading {
  font-family: "Titillium Web Bold";
  color: #f7f3ea;
  text-align: center;
  font-size: 42px; }
  .main-heading--second-section, .main-heading--testimonials, .main-heading--get-in-touch {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 50px;
    position: relative; }
    .main-heading--second-section::after, .main-heading--testimonials::after, .main-heading--get-in-touch::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0, 0, 0, 0.1); }
  .main-heading--team, .main-heading--skills, .main-heading--portfolio {
    color: #3c4761;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 50px;
    position: relative; }
    .main-heading--team::after, .main-heading--skills::after, .main-heading--portfolio::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 25px;
      left: calc(50% - 44px);
      height: 4px;
      width: 88px;
      background-color: rgba(0, 0, 0, 0.1); }
  .main-heading--portfolio {
    color: #393939; }

.services {
  padding: 120px 0;
  background-color: #17c2a4;
  font-family: 'Titillium Web';
  color: #f7f3ea; }
  .services__text {
    font-size: 18px;
    text-align: center;
    line-height: 1.6em; }

.card {
  width: 25%;
  box-sizing: border-box;
  float: left; }
  .card__image-wrap {
    text-align: center;
    padding: 50px 0; }
  .card__image {
    overflow: hidden;
    background-image: url("../img/sprite.png");
    height: 134px;
    display: inline-block; }
    .card__image--flag {
      background-position: 0 0;
      width: 132px; }
    .card__image--crayon {
      background-position: -150px 0;
      width: 94px; }
    .card__image--gears {
      background-position: 322px 0;
      width: 174px; }
    .card__image--rocket {
      background-position: 95px 0;
      width: 95px; }
  .card__heading {
    font-family: "Titillium Web Bold";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px; }
  .card__text {
    text-align: center;
    font-family: "Titillium Web Light";
    font-size: 16px;
    padding: 0 44px 40px;
    line-height: 1.5em; }

@media all and (max-width: 840px) {
  .card {
    width: 50%; }
    .card:nth-child(even) {
      float: right; }
    .card__text {
      padding: 0 0 44px 0; } }

@media all and (max-width: 640px) {
  .card {
    width: 100%; } }

.team {
  background-color: #e7f1f8;
  padding: 120px 0 80px; }
  .team__text {
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center; }
  .team__card-wrap {
    padding: 80px 0; }

.user-card {
  width: 25%;
  float: left;
  box-sizing: border-box;
  color: #3c4761;
  text-align: center; }
  .user-card__photo-wrap {
    text-align: center;
    padding-bottom: 40px; }
  .user-card__photo {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #878787; }
  .user-card__name {
    font-family: 'Titillium Web Bold';
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 13px; }
  .user-card__position {
    font-family: 'Titillium Web';
    color: #48c1e9;
    font-size: 16px;
    padding-bottom: 30px; }
  .user-card__description {
    font-family: 'Titillium Web Light';
    font-size: 16px;
    padding: 0 40px;
    line-height: 1.5em; }

@media all and (max-width: 960px) {
  .user-card {
    width: 50%; }
    .user-card__description {
      padding: 0 20px; } }

@media all and (max-width: 640px) {
  .user-card {
    width: 100%; } }

.links {
  color: #f7f3ea;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding-bottom: 40px; }
  .links__content {
    display: inline-block;
    padding-top: 33px; }
  .links__link-wrap {
    float: left;
    background-color: #bdd1df;
    margin: 0 5px;
    padding: 8px 0;
    width: 34px;
    border-radius: 17px;
    text-align: center; }
    .links__link-wrap:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
      color: #48c1e9; }

.skills {
  padding: 120px 0;
  color: #3c4761; }
  .skills__text {
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center;
    line-height: 1.5em; }

/*.loader {
  position: relative;
  
  &__image {
  
  }
}*/
.loader {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #dfe8ed;
  position: relative; }
  .loader::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2; }
  .loader--first {
    background-image: linear-gradient(90deg, transparent 50%, #30bae7 50%), linear-gradient(226deg, transparent 50%, #30bae7 50%); }
  .loader--second {
    background-image: linear-gradient(90deg, transparent 50%, #d74680 50%), linear-gradient(180deg, transparent 50%, #d74680 50%); }
  .loader--third {
    background-image: linear-gradient(90deg, transparent 50%, #15c7a8 50%), linear-gradient(160deg, transparent 50%, #15c7a8 50%); }
  .loader--fourth {
    background-image: linear-gradient(90deg, transparent 50%, #eb7d4b 50%), linear-gradient(208deg, transparent 50%, #eb7d4b 50%); }
  .loader__progress {
    position: absolute;
    font-family: 'Titillium Web';
    font-size: 42px;
    top: 58px;
    left: 46px;
    z-index: 3; }

.portfolio {
  background-color: #ffdd99;
  padding: 120px 0;
  color: #393939; }
  .portfolio__text {
    font-family: "Titillium Web";
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 40px; }
  .portfolio__buttons-wrap {
    text-align: center;
    padding-bottom: 30px; }
  .portfolio__button {
    font-family: "Titillium Web";
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #3c4761;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 10px; }
    .portfolio__button:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5); }
  .portfolio__products-wrap {
    padding: 20px 0; }
  .portfolio__button-wrap {
    text-align: center;
    padding-top: 20px; }

.product-card {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
  text-align: center; }
  .product-card__image {
    max-width: 100%;
    padding-bottom: 30px; }
  .product-card__name-wrap {
    text-align: center; }
  .product-card__name {
    font-family: 'Titillium Web';
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #393939; }
    .product-card__name:hover {
      cursor: pointer;
      color: #48c1e9;
      text-decoration: underline; }

@media all and (max-width: 840px) {
  .product-card {
    width: 100%; } }

.testimonials {
  background-color: #d74680;
  padding: 120px 0 100px;
  font-family: 'Titillium Web';
  color: #f7f3ea; }
  .testimonials__text {
    font-size: 18px;
    text-align: center;
    line-height: 1.6em; }
  .testimonials__feedbacks-wrap {
    padding-top: 40px; }

.feedback {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 50px 0 100px;
  line-height: 1.5em; }
  .feedback__photo-wrap {
    float: left;
    height: 100%;
    width: 30%; }
  .feedback__photo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: #878787; }
  .feedback__text-wrap {
    float: right;
    width: 60%;
    padding-right: 50px; }
  .feedback__message {
    font-family: 'Titillium Web Italic';
    font-size: 21px;
    line-height: 1.5em; }
  .feedback__author {
    font-family: 'Titillium Web Bold';
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 1.5em; }
  .feedback__position {
    font-family: 'Titillium Web';
    color: #ffdd99;
    font-size: 18px; }

@media all and (max-width: 1120px) {
  .feedback {
    box-sizing: border-box; }
    .feedback:nth-child(even) {
      float: right; }
    .feedback__photo-wrap {
      width: 25%;
      box-sizing: border-box; }
    .feedback__text-wrap {
      width: 60%;
      box-sizing: border-box; } }

@media all and (max-width: 840px) {
  .feedback__photo-wrap {
    width: 100%;
    text-align: center; }
  .feedback__text-wrap {
    width: 100%;
    text-align: center;
    padding: 0 25px; }
  .feedback__photo {
    display: inline-block; } }

@media all and (max-width: 768px) {
  .feedback {
    width: 100%; } }

.get-in-touch {
  background-color: #3c5499;
  padding: 120px 0;
  font-family: 'Titillium Web';
  color: #f7f3ea; }
  .get-in-touch__text {
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 50px; }
  .get-in-touch__form-wrap {
    text-align: center; }
  .get-in-touch__button-wrap {
    text-align: center;
    padding-top: 20px; }

.form {
  display: inline-block;
  max-width: 860px;
  width: 100%;
  font-family: 'Titillium Web';
  color: #f7f3ea;
  padding-top: 25px; }
  .form__input-wrap {
    float: left;
    width: 48%;
    padding-bottom: 26px; }
    .form__input-wrap:nth-child(2) {
      float: right; }
  .form__input, .form__message {
    font-family: 'Titillium Web';
    color: #f7f3ea;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 16px 26px; }
    .form__input:-ms-input-placeholder, .form__message:-ms-input-placeholder {
      color: #f7f3ea; }
    .form__input::placeholder, .form__message::placeholder {
      color: #f7f3ea; }
  .form__message {
    min-height: 200px;
    margin-bottom: 50px; }

@media all and (max-width: 640px) {
  .form__input-wrap {
    width: 100%; } }

.button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #f7f3ea;
  font-family: "Titillium Web";
  font-size: 18px;
  padding: 24px 80px;
  margin: 0 auto;
  outline: none; }
  .button:hover {
    cursor: pointer; }
  .button--main {
    background: linear-gradient(to top, #d25217 0%, #d25217 8%, #eb7d4b 8%, #eb7d4b 100%); }
    .button--main:hover {
      background: linear-gradient(to top, #d25217 0%, #d25217 4%, #eb7d4b 4%, #eb7d4b 100%); }
    .button--main:active {
      background: #eb7d4b;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset; }
  .button--portfolio {
    background: linear-gradient(to top, #0f7e6a 0%, #0f7e6a 8%, #17c2a4 8%, #17c2a4 100%); }
    .button--portfolio:hover {
      background: linear-gradient(to top, #0f7e6a 0%, #0f7e6a 4%, #17c2a4 4%, #17c2a4 100%); }
    .button--portfolio:active {
      background: #17c2a4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset; }
  .button--get-in-touch {
    background: linear-gradient(to top, #158eb5 0%, #158eb5 8%, #30bae7 8%, #30bae7 100%); }
    .button--get-in-touch:hover {
      background: linear-gradient(to top, #158eb5 0%, #158eb5 4%, #30bae7 4%, #30bae7 100%); }
    .button--get-in-touch:active {
      background: #30bae7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset; }

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web Bold';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web Light';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web Italic';
  src: url("../fonts/Titillium_Web/TitilliumWeb-Italic.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium Web SemiBold';
  src: url("../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
